
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_area :title, :rows => 6, :cols => 70 %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div style="border-style:solid;border-width:1px;border-color:black;margin-top:5px;margin-bottom:5px;padding:7px;">
	  <div class="field">
	    <%= f.label :picture_url, "Photo URL" %><br />
	    <%= f.text_field :picture_url %> <br />
	    <%= image_tag @item.picture_url,:size => "160x100" unless @item.picture_url.blank? %>
	  </div>
	  <br />
    <div class="field">
      <%= f.label :image, "Photo Upload" %><br />
      <%= f.file_field :image %> <br />
      <%= image_tag @item.image.url(:medium) if @item.image_file_name %>
    </div>
    <i>note : photo url always be used as a first priority, if it's empty, app will use uploaded photo instead</i>
  </div> 
  <div class="field">
    <%= f.label :deal_price %><br />
    <%= f.text_field :deal_price %>
  </div>
  <div class="field">
    <%= f.label :original_price %><br />
    <%= f.text_field :original_price %>
  </div>
  <div class="field">
    <%= f.label :begin_date %><br />
    <%= f.datetime_select :begin_date %>
  </div>
  <div class="field">
    <%= f.label :finish_date %><br />
    <%= f.datetime_select :finish_date %>
  </div>
  <div class="field">
    <%= f.label :item_type_id, "Category" %><br />
    <%= f.select :item_type_id, ItemType.all(:order => "name ASC").collect {|it| [it.name,it.id]}%>
  </div>
  <div class="field">
	  <% all_categories = Category.all(:order => "id") %>
	  <% category_ids_for_js = all_categories.collect {|cat| cat.id}.join(',') %>
	
    <%= f.label :category_ids, "Location(s)" %><br />
    <%= check_box_tag "all_categories","1", false, :onclick => "admin_select_categories_edit('#{category_ids_for_js}')" %>All
    <% all_categories.each do |cat| %>
      <%= check_box_tag "item_category_ids_#{cat.id}",cat.id,@item.category_ids.include?(cat.id),{:name => "item[category_ids][]", :onclick => check_parent_category(cat)} %> <%= cat.name%> &nbsp;
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

