<%= link_to 'Non Expired Items', admin_items_path %> ||
<%= link_to 'Expired Items', admin_items_path(:status => "expired") %> ||
<%= link_to 'New Item', new_admin_item_path %> ||
<% item_ids_for_js = @items.collect {|it| it.id}.join(',') %>
<%= link_to "Edit Category & Locations", "javascript:void(0)", :onclick => "admin_select('#{item_ids_for_js}')" %>
<br />
<h1>Listing <%= params[:status]=="Expired" ? "Expired" : "Non Expired" %> Items</h1>
<% form_tag select_admin_items_path do -%>

<%= hidden_field_tag "page", params[:page] %>
<%= hidden_field_tag "order", params[:order] %>
<table>
  <tr id="table_row">
	  <td><%= link_to "ID", admin_items_path(:page => 1, :order => "id") %></td></td>
	  <td><%= link_to "Title", admin_items_path(:page => 1, :order => "title") %></td>
	  <td><%= link_to "URL", admin_items_path(:page => 1, :order => "url") %></td>
    <td colspan=4>Action</td>
  </tr>

<% @items.each do |item| %>
  <tr>
	  <td rowspan="2"><%= item.id %></td>
	  <td><%= item.title %></td>
	  <td><%= item.url %></td>
    <td><%= link_to 'Show', admin_item_path(item) %></td>
    <td><%= link_to 'Edit', edit_admin_item_path(item) %></td>
    <td><%= link_to 'Hide', hide_admin_item_path(item), :confirm => 'Are you sure?', :method => :post  %></td>
    <td><%= link_to 'Destroy', admin_item_path(item), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <tr>
	  <td>
	    Category :
		  <div id="item_type_select_name_<%= item.id %>">
	      <%= item.item_type.try(:name) %>
	    </div>
	
		  <div id="item_type_select_form_<%= item.id %>" style="display:none;">
		    <%= select_tag "item_type_ids[#{item.id}]", options_for_select(ItemType.all.collect {|it| [it.name,it.id]},item.item_type_id) %>
			</div>
		</td>
	  <td colspan="3">
	    Locations : 
	    <div id="categories_select_name_<%= item.id %>">
	      <%= item.categories.collect {|cat| cat.name}.join(", ") %>
	    </div>
	    <div id="categories_select_form_<%= item.id %>" style="display:none;">
		    <% category_ids_for_js = @all_categories.collect {|cat| cat.id}.join(',') %>
		    <%= check_box_tag "all_categories_#{item.id}","1", false, :onclick => "admin_select_categories('#{category_ids_for_js}',#{item.id})" %>All 
		    <%= check_box_tag "none_categories_#{item.id}","1",item.none_status, :onclick => "admin_none_categories('#{category_ids_for_js}',#{item.id})"%>None
		
	      <% @all_categories.each do |cat| %>
	        <%= check_box_tag "item_#{item.id}_category_ids_#{cat.id}",cat.id,item.category_ids.include?(cat.id),{:name => "item_#{item.id}[category_ids][]", :onclick => check_parent_category_on_item(cat,item.id)} %> <%= cat.name%>
	      <% end %><br />  
	     
	     
	    </div>
	  </td>
	  <td colspan="2">
		  Status: <br />
			<%= item.deal_status_in_word %></p>
		</td>
	</tr>
<% end %>
</table>
<br />
<div id="submit_select" style="display:none;">
  <%= submit_tag "Save" %>
</div>
<% end %>

<br />
<%= will_paginate @items%>


