<div>
<%= render :partial => "menu" %>
</div>

<% if  flash[:user_notice]  %>
<div style="color:#CC0000;"><%= flash[:user_notice] %></div>
<% else %>
<div style="color:#CC0000;"><%= flash[:fail_notice]  %></div>
<% end %>

<% if !@locations.blank?  %>
<h4 style="color:#aecfe4;"><u>Your Selected Locations</u></h4>  

 <% for item in @locations %>  
        <%= item.item_type.name %>
         <br/>
            <% end %>
<% else %>			
<h4 style="color:#aecfe4;"><u>Oops.No Locations Selected</u></h4>  
			
<% end %>			
			
	  <br/>  <br/>  <br/>	
	  
	<% if !@categeries.blank?  %>  	
<h4 style="color:#aecfe4;"><u>Your Selected Categeories</u></h4> 

 <% for categeory in @categeries %> 
         <%= categeory.category.name  %>
         <br/>
            <% end %>
			
<% else %>
<h4 style="color:#aecfe4;"><u>Oops.No Categeories Selected</u></h4>  

<% end %>			
			

