<body>
<div id="login_alert" class="alert" style="text-align:center;"><%= params[:msg] %></div>	
<div id="login">

	<% form_for(:user, :url => session_path("user")) do |f| %>
		<fieldset>
		<legend>로그인</legend>
		<ol>
			<li><%= f.label :email,"이메일" %>
			<%= f.text_field :email %></li>
			<li><%= f.label :password,"비밀번호" %>
			<%= f.password_field :password %></li>
		</ol>
		</fieldset>
		<%= button_to_remote "Submit", :url => check_sign_in_path, :with => "'user[email]=' + $('user_email').value + '&user[password]=' + $('user_password').value", :loading => "$('login_spinner').show()", :complete => "$('login_spinner').hide()" %><%= image_tag "/stylesheets/spinner.gif", :id => "login_spinner", :size => "30x30", :style => "display:none;"%>
	<% end %>
</div>
<br /><br />
</body>
