<h2>Registration Step 2 API</h2>

<% form_for :user, :url => personalization_user_creation_path(:format => "json") do |f| %>
	<p>Nickname : <br /> 
	<%= f.text_field :nickname %> </p>
	
	<p> Email : <br />
	<%= f.text_field :email %> </p>
	
	<p> Password :<br />
	<%= f.password_field :password %> </p>
	<%= submit_tag "Send" %>
<% end %>	

<h2>Login API</h2>

<form action="/check_sign_in.json" method="post">
	<p> Nickname or Email : <br />
	<%= text_field_tag "user[email]",@photo_user.nickname %> </p>
	
	<p> Password :<br />
	<%= password_field_tag "user[password]" %> </p>
	<%= submit_tag "Send" %>
</form>

<h2>Reset password API</h2>

<form action="/users/password.json" method="post">
	<p> Email or Nickname : <br />
	<%= text_field_tag "user[email]"%> </p>
	
	<%= submit_tag "Send" %>
</form>

<% if @photo_user.session_api %>
<h2>Edit Profile API</h2>
<form action="/users/update_profile.json" method="post">
	<p> Nickname <br />
	<%= text_field_tag "nickname", @photo_user.nickname %> </p>
	
	<p> Email :<br />
	<%= text_field_tag "email", @photo_user.email %> </p>
	
	<p> Phone Number :<br />
	<%= text_field_tag "phone_number", @photo_user.phone_number %> </p>
	
	<p>ID <br />
	<%= text_field_tag "id",@photo_user.id %></p>
	
	<p>Session API: <br />
	<%= text_field_tag "session_api", @photo_user.session_api %></p>
	
	<%= submit_tag "Send" %>
</form>
<% else %>
 You need to logged in via API first
<% end %>

<% if @photo_user.session_api %>
<h2>Edit Password API</h2>
<form action="/update_password.json" method="post">
	<p> Old Password <br />
	<%= password_field_tag "old_password" %> </p>
	
	<p> New Password :<br />
	<%= password_field_tag "password" %> </p>
	
	<p> New Password Confirmation :<br />
	<%= password_field_tag "password_confirmation" %> </p>
	
	<p>ID <br />
	<%= text_field_tag "id",@photo_user.id %></p>
	
	<p>Session API: <br />
	<%= text_field_tag "session_api", @photo_user.session_api %></p>
	
	<%= submit_tag "Send" %>
</form>
<% else %>
 You need to logged in via API first
<% end %>

<% if @photo_user.session_api %>
<h2>Upload/Change Profile Photo API</h2>
<form action="/users/update_profile_photo.json" method="post"  enctype="multipart/form-data">
	<p>Profile Photo <br />
	<%= file_field_tag "profile_photo"%> </p>
	
	<p>ID <br />
	<%= text_field_tag "id",@photo_user.id %></p>
	
	<p>Session API: <br />
	<%= text_field_tag "session_api", @photo_user.session_api %></p>
	
	<%= submit_tag "Send" %>
</form>
<% else %>
 You need to logged in via API first
<% end %>

<h2>List of Connections API</h2>
<% if @photo_user.session_api %>
<form action="/connections.json" method="get">
	<p>ID <br />
	<%= text_field_tag "id",@photo_user.id %></p>
	
	<p>Session API: <br />
	<%= text_field_tag "session_api", @photo_user.session_api %></p>	
	
	<p>PUMPL Nickname<br/>
	<%= @photo_user.nickname %></p>		
	<%= submit_tag "Submit" %>
		
</form>
<% else %>
 You need to logged in via API first
<% end %>

<h2>Connect to Twitter</h2>
<% if @photo_user.session_api %>
<form action="/twitter/xauth_token.json" method="post">
	<p>ID <br />
	<%= text_field_tag "id",@photo_user.id %></p>
	
	<p>Session API: <br />
	<%= text_field_tag "session_api", @photo_user.session_api %></p>
	
	<p>Twitter Username: <br />
	<%= text_field_tag "x_auth_username" %></p>
	
	<p>Twitter Password: <br />
	<%= password_field_tag "x_auth_password" %></p>	
	
	<%= submit_tag "Connect" %></p>	
		
</form>
<% else %>
 You need to logged in via API first
<% end %>

<h2>Connect to Facebook</h2>
<% if @photo_user.session_api %>
<form action='<%= facebook_index_path(:format => "json") %>' method="get">
	<p>ID <br />
	<%= text_field_tag "id",@photo_user.id %></p>
	
	<p>Session API: <br />
	<%= text_field_tag "session_api", @photo_user.session_api %></p>

	<%= submit_tag "Connect" %>
</form>
<% else %>
 You need to logged in via API first
<% end %>

<h2>Connect to Tumblr</h2>
<% if @photo_user.session_api %>
<form action="/tumblr/connect.json" method="post">
	<p>ID <br />
	<%= text_field_tag "id",@photo_user.id %></p>
	
	<p>Session API: <br />
	<%= text_field_tag "session_api", @photo_user.session_api %></p>
	
	<p>Tumblr Email: <br />
	<%= text_field_tag "tumblr_email" %></p>
	
	<p>Tumblr Password: <br />
	<%= password_field_tag "tumblr_password" %></p>	
	
	<%= submit_tag "Connect" %></p>	
		
</form>
<% else %>
 You need to logged in via API first
<% end %>

<h2>Connect to Me2day</h2>
<% if @photo_user.session_api %>
<form action="/me2day/connect.json" method="post">
	<p>ID <br />
	<%= text_field_tag "id",@photo_user.id %></p>
	
	<p>Session API: <br />
	<%= text_field_tag "session_api", @photo_user.session_api %></p>
	
	<%= submit_tag "Connect" %></p>	
</form>
<% else %>
 You need to logged in via API first
<% end %>

<h2>Facebook Unlink API</h2>
<% if @photo_user.session_api %>
<form action="/facebook/unlink.json" method="post">
	<p>ID <br />
	<%= text_field_tag "id",@photo_user.id %></p>
	
	<p>Session API: <br />
	<%= text_field_tag "session_api", @photo_user.session_api %></p>	
		
	<%= submit_tag "Submit" %>		
</form>
<% else %>
 You need to logged in via API first
<% end %>

<h2>Twitter Unlink API</h2>
<% if @photo_user.session_api %>
<form action="/twitter/unlink.json" method="post">
	<p>ID <br />
	<%= text_field_tag "id",@photo_user.id %></p>
	
	<p>Session API: <br />
	<%= text_field_tag "session_api", @photo_user.session_api %></p>	
		
	<%= submit_tag "Submit" %>		
</form>
<% else %>
 You need to logged in via API first
<% end %>

<h2>Tumblr Unlink API</h2>
<% if @photo_user.session_api %>
<form action="/tumblr/unlink.json" method="post">
	<p>ID <br />
	<%= text_field_tag "id",@photo_user.id %></p>
	
	<p>Session API: <br />
	<%= text_field_tag "session_api", @photo_user.session_api %></p>	
		
	<%= submit_tag "Submit" %>		
</form>
<% else %>
 You need to logged in via API first
<% end %>

<h2>Upload Photo API</h2>
<% if @photo_user.session_api %>
<form action="/photos.json" method="post" enctype="multipart/form-data">
	<p> User : <br />
	<b><%= @photo_user.nickname %></b></p>	
	
	<p>ID <br />
	<%= text_field_tag "id",@photo_user.id %></p>
	
	<p>Session API: <br />
	<%= text_field_tag "session_api", @photo_user.session_api %></p>
	
	<p> Title : <br />
	<%= text_field :photo,:title %> </p>
	
	<p> Photo :<br />
	<%= file_field :photo, :image %> </p>

	<p> Post to Facebook Wall<br />
	<%= select :photo, :post_to_facebook_wall, options_for_select(["yes", "no"], "no") %></p>
		
	<p> Post to Default Album<br />
	<%= select :photo, :post_to_facebook, options_for_select(["yes", "no"], "no") %></p>

	<p> Post to Another Album<br />
	<%= select :photo, :post_to_facebook_album, options_for_select(["yes", "no"], "no") %><br/>
        Album Name : <%= text_field :photo, :album_name %></p>	
        </p>
        

	<p> Post to Twitter<br />
	<%= select :photo, :post_to_twitter, options_for_select(["yes", "no"], "no") %></p>
	
	<p> Post to Tumblr<br />
	<%= select :photo, :post_to_tumblr, options_for_select(["yes", "no"], "no") %></p>
	
	<%= submit_tag "Upload" %>
</form>
<% else %>
 You need to logged in via API first
<% end %>


<h2>Retrieve My Photos API</h2>
<form action="/photos/mine.json" method="get" enctype="multipart/form-data">
	<p> User : <br />
	<b><%= @photo_user.nickname %></b></p>	
	<%= hidden_field_tag "id",@photo_user.id %>
	<%= hidden_field_tag "session_api", @photo_user.session_api %>
	<%= submit_tag "Retrieve" %>
</form>

<h2>Photo API via Facebook Step 1 (Authorize)</h2>
<form action='<%= facebook_index_path(:format => "json") %>' method="get" enctype="multipart/form-data">
	<%= submit_tag "Authorize" %>
</form>

<h2>Photo API via Facebook Step 2 (Upload)</h2>
<% if @fb_user and @fb_user.try(:facebook_token).blank? == false %>
	<form action="/photos.json" method="post" enctype="multipart/form-data">
		<p> email : <br />
		<b><%= @fb_user.email %></b></p>
			
		<%= hidden_field_tag "id",@fb_user.id %>
		<%= hidden_field_tag "session_api", @fb_user.session_api %>
    <%= hidden_field_tag "facebook_token", @fb_user.facebook_token %>

		<p> Title : <br />
		<%= text_field :photo,:title %> </p>

		<p> Photo :<br />
		<%= file_field :photo, :facebook_image %> </p>

		<%= submit_tag "Upload to FB" %>
	</form>
<% else %>
  <p>Can't show the upload form, pls authorize the Facebook first</p>
<% end %>	



<h2>Authorize via Twitter xAuth API Step 2 (Login - no longer used, form below just for testing purpose)</h2>	
	<form action="/twitter/xauth_login.json" method="get">
		<p>Access Token : <br />
		<%= text_field_tag "x_auth_access_token",@photo_user.twitter_token,:size => 50 %></p>

		<p>Access Secret : <br />
		<%= text_field_tag "x_auth_access_secret",@photo_user.twitter_secret, :size => 50 %></p>	

		<%= submit_tag "Submit" %>	

	</form>

<h2>Follow User</h2>
<% if @photo_user.session_api %>
<form action="/users/follow.json" method="post">
	<p> User : <br />
	<b><%= @photo_user.nickname %></b></p>	
        <p>Following ID: <br />
	<%= text_field_tag "following_id" %></p>

	<%= hidden_field_tag "id",@photo_user.id %>
	<%= hidden_field_tag "session_api", @photo_user.session_api %>
	<%= submit_tag "Follow" %>
</form>
<% else %>
  You need to logged in via API first
<% end %>

<h2>Unfollow User</h2>
<% if @photo_user.session_api %>
<form action="/users/unfollow.json" method="post">
	<p> User : <br />
	<b><%= @photo_user.nickname %></b></p>	
        <p>Following ID: <br />
	<%= text_field_tag "following_id" %></p>

	<%= hidden_field_tag "id",@photo_user.id %>
	<%= hidden_field_tag "session_api", @photo_user.session_api %>
	<%= submit_tag "Unfollow" %>
</form>
<% else %>
  You need to logged in via API first
<% end %>

<h2>Retrieve a list of people you follow (following) and followers</h2>
<% if @photo_user.session_api %>
<form action="/users/following_and_followers_list.json" method="get">
	<p> User : <br />
	<b><%= @photo_user.nickname %></b></p>	
	<%= hidden_field_tag "id",@photo_user.id %>
	<%= hidden_field_tag "session_api", @photo_user.session_api %>
	<%= submit_tag "Retrieve" %>
</form>
<% else %>
  You need to logged in via API first
<% end %>

<h2>Retrieve a feed of photos from that you follow</h2>
<% if @photo_user.session_api %>
<form action="/photos/feed.json" method="get" enctype="multipart/form-data">
	<p> User : <br />
	<b><%= @photo_user.nickname %></b></p>	
	<%= hidden_field_tag "id",@photo_user.id %>
	<%= hidden_field_tag "session_api", @photo_user.session_api %>
	<%= submit_tag "Retrieve" %>
</form>
<% else %>
  You need to logged in via API first
<% end %>

<h2>Find Friends based on Facebook And Twitter</h2>
<% if @photo_user.session_api %>
<form action="/users/find_friends.json" method="get" enctype="multipart/form-data">
	<p> User : <br />
	<b><%= @photo_user.nickname %></b></p>	
	<%= hidden_field_tag "id",@photo_user.id %>
	<%= hidden_field_tag "session_api", @photo_user.session_api %>
	<%= submit_tag "Find" %>
</form>
<% else %>
  You need to logged in via API first
<% end %>

<p><%= link_to "back to HOME", "/"%></p>
