<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <p>가입해주셔서 감사합니다.</p>

  <p>펌플의 진수를 엿보시기 위하여 많은 분들께서 <%= link_to "Facebook", "http://www.facebook.com/sharer/sharer.php?=#{@referal_url}" %>, <%= link_to "Twitter","http://twitter.com/home?status=곧 펌플의 시대가 열립니다. 저와 함께 시작해요! #{@referal_url} via @PUMPL" %>, <%= link_to "me2day","http://me2day.net/posts/new?new_post[body]=곧 펌플의 시대가 열립니다. 저와 함께 시작해요! '#{@referal_url}':#{@referal_url}" %>  로 공유하세요. 이메일로 공유하면 이 링크(<%= @referal_url %>) 를 사용하세요.</p>

  <p>많은 분들께서 가입하시면 더 빨리 펌플을 즐기실 수 있습니다.</p>

  <p>그리고,<%= link_to " 페이스북에서 좋아요! 눌러주세요","http://www.facebook.com/mypumpl" %>.</p>

  <p>PUMPL 팀 <br />
  victor@pumpl.com <br />
  @PUMPL</p>
  </body>
</html>

