<div>
Admin Menu : 
<%= link_to "Home",admin_home_index_url %> || 
<%= link_to "Items",admin_items_url %> || 
<%= link_to "Unlocalized Images", index_images_admin_items_url %> ||
<%= link_to "Categories",admin_item_types_url %> || 
<%= link_to "Locations",new_admin_category_url %> || 
<%= link_to "Items Error Log",admin_item_logs_url %> ||
<%= link_to "Logout", destroy_user_session_url %>	
</div>
	