
<h1>Latest Scraping Items Error Log</h1>

<table>
  <tr id="table_row">
	  <td>RSS Source</td>
	  <td>Reason</td>
    <td>Scraping Time</td>
    <td>Destroy</td>
  </tr>

<% @item_logs.each do |item_log| %>
  <tr>
	  <td><%= link_to item_log.source, item_log.source, :target => "_blank" %></td>
	  <td><%= item_log.reason %></td>
    <td><%= item_log.created_at %></td>
    <td><%= link_to 'Destroy', "/admin/item_logs/#{item_log.id}", :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<br />
<%= will_paginate @item_logs %>


