<div style="text-align:center;">
  <h1>Picsy is coming soon</h1>
  <p>To get invitation to our private beta, <br />
  enter your email address below!</p>	
 
  <%= form_for(@invite, :url => invite_launch_index_path) do |f| %>
    <p> <%= f.error_messages %></p>
    <%= f.text_field :email %><br /><br />
    <%= f.hidden_field :reference_id, :value => @reference_id %>
    <%= submit_tag "Submit" %>
  <% end %>
</div>	