<div id="launch_content">

	<div>
		<img src="/images/index/logo.png">
		<p>펌플은 현재 한정된 분들에 대하여 맛보기 서비스를 하고 있습니다.</p>
		<p>펌플의 진수를 엿보시기 위하여, 이메일 주소를 보내주시면 저희 펌플이 초대 메일을 송부해드리겠습니다.</p>
		
		<%= form_for(@invite, :url => invite_launch_index_path) do |f| %>
	    <%= f.text_field :email, :value => "이메일", :onFocus => "clearText(this)", :onBlur => "clearText(this)" %>
	    <%= f.hidden_field :reference_id, :value => @reference_id %>
	    <%= submit_tag "Submit" %>
			<p style="color:red;"><%= @invite.errors.full_messages.join(',') if @invite.errors.size > 0 %></p>
	  <% end %>
	
		<div>
			<div></div>
		</div> 

		<p><div id="fb-root"></div><script src="http://connect.facebook.net/ko_KR/all.js#appId=121845231242068&amp;xfbml=1"></script><fb:like href="http://www.facebook.com/mypumpl" send="false" width="348" show_faces="true" colorscheme="dark" font=""></fb:like></p>

	</div> <!-- #launch_content -->
</div>