<div id="container">
	
	<div id="main">
		
		<div id="content">
		
			<%= image_tag @photo.true_image_url %>
		
		</div> <!-- #content -->
	
		<div id="sidebar">
			
			<div id="sidebar_content">

				<span class="right"><a href="http://pumpl.com"><img src="/images/index/logo_taken_with.png" alt="Taken with PUMPL"></a></span>
				<div id="title"><%= @photo.title %> <span class="byline">by <%= @photo.user.nickname %></span></div>
				<div id="time"><%= time_ago_in_words @photo.created_at%> ago</div>
				<% if params[:mode] == "thank_you" || cookies[:guid] %>
				  <%= render :partial => "launch/thank_you" %> 
				<% else %>
				<p><strong><%= @photo.user.nickname %></strong>님은 현재 펌플의 맛보기 서비스를 제공받으시는 사용자입니다.</p>
				<p>진정한 펌플의 진수를 엿보시기 위하여, 이메일 주소를 보내주시면 저희 펌플이 초대 메일을 송부해드리겠습니다.</p>

					<%= form_for(@invite, :url => invite_launch_index_path) do |f| %>
				    <%= f.text_field :email, :value => "이메일", :onFocus => "clearText(this)", :onBlur => "clearText(this)" %>
				    <%= hidden_field_tag :came_from, request.request_uri %>
				    <%= f.hidden_field :reference_id, :value => @reference_id %>
				    <%= submit_tag "Submit" %>
						<p style="color:red;"><%= @invite.errors.full_messages.join(',') if @invite.errors.size > 0 %></p>
				  <% end %>
				<% end %>
			</div> <!-- #sidebar_content -->
		
		</div> <!-- #sidebar -->
	
	</div> <!-- #main -->

	
	<div id="footer">
		&nbsp;
	</div> <!-- #footer -->
		
</div> <!-- #container -->