<h3>Users</h3>
<%= form_for :user, :url => multiple_destroy_admin_users_path, :html => {:method => :delete} do |f| %>
<p><%= link_to "Add User", new_admin_user_path %> || <%= submit_tag "Delete" %></p>
<table border="1">
	<tr>
		<th>&nbsp;</th>
		<th>Username</th>
		<th>Email</th>
		<th>Photos</th>
		<th>Twitter</th>
		<th>Facebook</th>
		<th>Tumblr</th>
	</tr>
	
	<% @users.each do |user| %>
	  <tr>
	    <td><%= check_box_tag "user_ids[]", user.id, nil %></td>
	    <td><%= user.nickname %></td>
	    <td><%= user.email %></td>
	    <td><%= user.photos.size %></td>
	    <td><%= user.photos_amount("twitter") %></td>
	    <td><%= user.photos_amount("facebook") %></td>
	    <td><%= user.photos_amount("tumblr") %></td>
	  </tr>
	<% end %>
			
</table>
<% end %>