<div id="category_header">종류</div>

<div id="category_list">
<% ItemType.mine(current_user,params[:controller]).each do |menu| %>
  <div class="menu_item">
	  <ul>
      <div id="menu_item_types_<%= menu.id %>" class="menu_item_types_unselected_<%= menu.id %>">
        <li>
          <%= render :partial => "layouts/sidebar_link", :locals => {:menu => menu, :sidebar_type => "item_type" }%>
        </li>
        <li>
          <div class="menu_count">
            (<%= Item.number_of_deals(:item_type_name => menu.name,:category_name => 'All') %>)
          </div> <!-- .menu_count -->
          <div id="loading_category_<%= menu.id %>" style="display:none;"><%= image_tag "/images/loading.gif" %></div>
        </li>
      </div> 
    </ul>
  </div> <!-- .menu_item -->
<% end %>
<!-- #menu_item_types -->
</div> <!-- #category_list -->

<div id="location_header">지역</div>

<div id="location_list">
<% Category.parents_mine(current_user,params[:controller]).each do |menu| %>
  <div class="menu_item">
	<ul>
    <div id="menu_locations_<%= menu.id %>" class="menu_locations_unselected_<%= menu.id %>">	  
      <li>
        <%= render :partial => "layouts/sidebar_link", :locals => {:menu => menu, :sidebar_type => "category" }%>
      </li>
      <li>
        <div class="menu_count">
          (<%= Item.number_of_deals(:item_type_name => 'All', :category_name => menu.name) %>)
        </div> <!-- .menu_count -->
        <div id="loading_location_<%= menu.id %>" style="display:none;"><%= image_tag "/images/loading.gif" %></div>
      </li>
    </div> <!-- #menu_locations -->
  </ul>
  </div> <!-- .menu_item -->
  <% if menu.children.size > 0 %>
    <div class="menu_item">
	  <ul>
      <% menu.children.each do |child| %>
		    <li>
			    <div id="menu_locations_<%= child.id %>" class="menu_locations_unselected_<%= child.id %>"><%= render :partial => "layouts/sidebar_link", :locals => {:menu => child, :sidebar_type => "category" }%></div>
			  </li>
		    <li style="margin-right:-18px;">
		      <div class="menu_count">
		        (<%= Item.number_of_deals(:item_type_name => 'All', :category_name => child.name) %>)
		      </div> <!-- .menu_count -->
		      <div id="loading_location_<%= child.id %>" style="display:none;"><%= image_tag "/images/loading.gif" %></div>
		    </li>
		   <!-- #menu_locations -->
    <% end %>
    </ul>
    </div> <!-- .menu_item -->
  <% end %>
<% end %>
</div> <!-- #location_list -->

