<html>
<head>
	<title>PUMPL Admin</title>
	<link rel="stylesheet" href="/stylesheets/admin.css" type="text/css" media="screen" />
</head>
<body>	
	
	<div id="header">
    PUMPL Admin
  </div>

<div id="menu">
  <%= link_to "Home",admin_home_index_url %><br />
  <%= link_to "Referrals",admin_referrals_url %><br />
  <%= link_to "Users",admin_users_url %><br />
  <%= link_to "Photos",admin_photos_url %><br />
  <%= link_to "Logout", destroy_user_session_url %>
</div>

  <div id="main">
    <%= yield %>
  </div>

	
</body>
</html>
