<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>PUMPL » 최고의 할인을 '펌' 하는 피플, 펌플! <%= "- Admin" if params[:controller].include?("admin") %></title>
	<meta name="author" content="Victor Ching">
	<!-- Date: 2010-09-30 -->
  <%= stylesheet_link_tag "application","style", "modalbox" %>
  <%= javascript_include_tag :defaults,"modalbox" %>
  <%= csrf_meta_tag %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-68188-6']);
	  _gaq.push(['_setDomainName', '.pumpl.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>

<div class="container">
	
<div id="header">
<%= render :partial => "personalization/menu" %>
</div> <!-- #header -->
	
<div id="content">
	<div id="content_top"></div>
	<div id="content_main">
	  <% unless params[:controller].include?("admin") %>	
		<div style="float:left; margin-top:1px">
		  <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://pumpl.com/" data-text="PUMPL - 최고의 할인을 '펌' 하는 피플, 펌플!" data-count="horizontal" data-via="PUMPL" data-counturl="http://pumpl.com/" data-related="victorology:펌플의 창업자">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		</div>
		<script src="http://connect.facebook.net/ko_KR/all.js#xfbml=1"></script><fb:like href="http://www.facebook.com/pages/peompeul-PUMPL/104009903004026" show_faces="false" width="450" font="arial"></fb:like>
		<% end %>
		<%= render :partial => "admin/home/menu" if params[:controller].include?("admin") %> 
	    <p class="notice"><%= raw flash[:notice] %></p>
      <p class="alert"><%= raw flash[:alert] %></p> 
	    
	    <div id="deals"> 
	      <%= yield %>
	    </div>
	
	    <% if params[:controller].include?("admin") %>
	      <div class="admin_spacing"></div> 
	    <% end %>
	</div> <!-- #content_main -->
	<div id="content_bot"></div>

  <div id="see_more" style="display:<%= (@next_items && @next_items.size > 0) ? 'block' : 'none' %>;">
	  <%= render :partial => "home/more_link",:locals => {:page => params[:page].to_i + 1} %>
  </div> <!-- #see_more -->
</div> <!-- #content -->
	
<div id="sidebar">
	<div id="sidebar_top"></div>
	<div id="sidebar_main">
    	<%= render :partial => "layouts/sidebar_menu" %>
	</div> <!-- #sidebar_main -->
	<div id="sidebar_bot"></div>
</div> <!-- #sidebar -->

</div> <!-- .container -->

<div id="footer">
	<div class="container">
		<div id="footer_home"><a href="#">홈</a></div>
			<div class="header_divider"></div>
		<div id="footer_blog"><a href="http://blog.pumpl.com">블로그</a></div>
			<div class="header_divider"></div>
		<div id="footer_fun"><a href="http://fun.pumpl.com">펀</a></div>
			<div class="header_divider"></div>
		<div id="footer_partner">제휴문의:</div>
		<div id="footer_email"><a href="mailto:victor@pumpl.com">victor@pumpl.com</a></div>
			<div class="header_divider"></div>
		<div id="footer_subscribe">구독하기:</div>
		<div id="footer_twitter"><%= link_to "트위터","http://www.twitter.com" %></div>
		<div id="footer_facebook"><%= link_to "페이스북", "http://www.facebook.com" %></div>
		<div id="footer_logo"><a href="#">PUMPL</a></div>
	</div> <!-- .container -->
</div> <!-- #footer -->
	
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '170977086255854', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/ko_KR/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
</body>
</html>	